{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    <article class="media content-section">
        <div class="media-body">
          <h2><a class="article-title" href="{% url 'specific_blog' post.author post.title %}">{{ post.title }}</a></h2>
            <div class="article-metadata">
                <a>Written by: </a>
            <a class="mr-2" href="{% url 'profile' post.author %}">{{ post.author }}</a>
                <a>date: </a>
            <small class="text-muted">{{ post.date_posted | date:"F d, Y" }}</small>
          </div>
          <p class="article-content">{{ post.content }}</p>
        </div>
      </article>
    {% endfor %}
{% endblock content %}